body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

ul,input{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #C0BFBD;
}

.navigation-container{
    width: 90px;
    height: 100vh;
    background-color: #242625;
    font-weight: 600;
    font-size: 16px;
    line-height:22px;
    color: #C0BFBD;
    padding: 20px 15px;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-template-columns: 100%;
    transition: 0.3s;
}

.user-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 50px;
}

.user-avatar{
    background-color: #A492FF;
    min-width: 45px;
    min-height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
}

.user-data{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.user-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EFEFEF;
}

.user-email{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #C0BFBD;
}

.user-arrow{
    width: 25px;
    height: 25px;
    background-color: #A492FF;
    border-radius: 50%;
    position: absolute;
    right: -11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    position: relative;
    margin-bottom: 20px;
}

input[type = search] {
    width: 100%;
    background-color: #424444;
    padding: 13px 0 13px 50px;
    font-weight: 600;
    font-size: 16px;
    color: #C0BFBD;
    border-radius: 8px;
    border: 1px solid #424444;
}

.search-btn{
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
}

.navigation-menu, .logout-menu{
    /* padding: 20px; */
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    color: #C0BFBD;
    margin: 0;
}

.logout-menu{
    align-self: flex-end;
}

.navigation-menu li, .logout-menu li {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

input.switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 20px;
    width: 35px;
    border-radius: 100px;
    background-color: #424444;
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
  }
  
  input.switch:checked + div>img{
    left: 6px;
    bottom: 2px;
  }

  .mode{
    position: absolute;
    right: 55px;
    bottom: 32px;
  }

  .mode img{
    position: relative;
    right: -18px;
    bottom: 2px;

    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
  }

  .sun{
    display: none;
  }

  .text{
    opacity: 0;
    transition: 0.3s;
  }

  .navigation-container:hover{
    width: 250px;
  }

  .navigation-container:hover .text {
    opacity: 100;
  }

  .navigation-container:hover .sun{
    display: block;
  }
