html {
    font-size: 10px;
    font-family: Padauk;
    font-weight: 400;
    color: #FFFFFF;
}

body {
    margin: 0;
    background-color: #001124;
    font-size: 2.2rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    /* width: 1440px; */
}

input {
    width: 36rem;
    height: 4.5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #499FFE;
}

section {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    align-items: center;
}

button {
    width: 18rem;
    height: 4.5rem;
    color: white;
    background-color: #015FC7;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.container div{
    margin-bottom: 4rem;
}

.login-inputs, .registration-inputs {
    display: flex;
    flex-flow: column nowrap;
}

.tittle {
    font-family: DM Serif Display;
    font-style: regular;
    font-size: 4.5rem;
}

.registration-btn{
    text-align: center;
}

.error {
    border: 3px solid red;
}
