body{
    font-family: 'Inter';
    font-style: normal;
    margin: 0px;
    font-size: 16px;
}
 /* кольори для слогану */
.blue {
    color: #0BBBD3;
}

.light-blue {
    color: #28CDE3;
}

.white {
    color: #F8F5F5;;
}

.slogan {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    margin: 18px auto 20px;
    color: #000000;
    text-transform: capitalize;
    word-spacing: -15px;
}

.contact-container .slogan {
    font-size: 4em;
    padding-top: 50px;
    padding-bottom: 10px;
}


.about-kharkiv-container {
    background-image: url(../img/Успенський\ собор\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.about-kharkiv-content {
    width: 715px;
    height: 321px;
    padding: 248px 562px 283px 163px;
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 167.02%; /*вирівнювання по вертикалі*/
}

.about-kharkiv-flag {
    position: absolute;
    left: 80px;
    top: 321px;
}
/* варіант підкресленого заголовку через  тег hr */
.header2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 60px auto 121px 76px;
}

hr {
    background-color: #33B8F1;
    width: 361px;
    height: 3px;
    margin: 16px 0px 0px 0px;
}
/* варіант підкресленого заголовку через border */

.header3 {
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 60px auto 41px;
    text-transform: uppercase;
    border-bottom: solid 5px #33B8F1;
    width: 360px;
    padding-bottom: 11px;
    white-space: nowrap;
    display: flex;
    justify-content: center;  
}


.cards-container {
   /*  width: 80rem; !!не адаптивно
    height: 30rem;
    margin: 0px auto;
    word-spacing: 1.5em; */
    display: flex;
    justify-content: space-evenly;
}

.card1, .card2, .card3 {
    box-shadow: 0px 6px 14px -5px;
    border-radius: 33px;
    background-size: 100% 50%;
    /*
    width: 400px;
    height: 400px;
    */
    width: 25em;
    height: 30em;
    display: inline-table;
    vertical-align: middle;
}

.card-image img {
    width: 100%;
}

.card-name {
    /* position: absolute;  !!не адаптивно */
    font-weight: 700;
    font-size: 34px;
    line-height: 167.02%;
    top: 1488px;
    word-spacing: 10px;
}
.card1 .card-name {
    color: #33B8F1;
}



.card-description {
    /* position: absolute;  !!не адаптивно */
    top: 1531px;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    word-break: break-word;
    word-spacing: 5px;
    padding-left: 5px;

}

.card2 .card-description, .card3 .card-description  {
    margin-top: 28px;
}

.container-heart {
    width: 970px;
    height: 877px;
    background-image: url(../img/heart.png);
    background-size: cover;
    margin: 0 auto;
}

.support-button {
    width: 430px;
    background-color: #33ADF1;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0px;
    margin: -57px auto 182px;
}

.contact-container {
    background-color: #0A2DA9;
    text-align: center;
}

.email, .mobile {
    font-weight: 400;
    font-size: 2em;
    margin: 0px auto 35px;
}

.contact-icons-container {
/*     display: flex;    -- другий варіант для вирівнювання іконок
    justify-content: space-evenly;
    width: 500px;
    margin: 10px auto; */
}

.icon {
    border-radius: 100%;
    background-color: #0931BF;
    width: 70px;
    height: 65px;
    display: inline-table;
    margin: 25px;
}
.icon img {
    width: 70%;
    height: 74%;
    padding: 7px;
}

a {
    text-decoration: none;
    color: #F8F5F5; /* змінив шрифт для кращої візуалізації */
}


