html {
    font-size: 10px;
    background-color: rgb(203, 195, 195);
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Rosario';
    font-weight: 700;
    color: #000000;
    max-width: 1820px;
    min-width: 600px;
    box-sizing: border-box;
    background-color: white;
}

a {
    text-decoration: none;
    color: #FFFF;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 0rem 3rem;
    /* background-color: blue; */
    box-sizing: border-box;
}

header {
    background-color: #000000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    /* height: 6vw; */
}

.logo {
    background-color: #FFFF;
    cursor: pointer;
    width: 13%;
}

.logo img {
    width: 100%;
}

.nav {
    flex-basis: 60%;
}

.nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav li {
    font-size: 3.6rem;
    font-style: italic;
    padding-right: 1rem;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.first>div:nth-child(2), .first>div:nth-child(3) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100%; */
}

.first div {
    margin: 4% 1%;
}

.first img {
    width: 100%;
    /* margin: 1vw auto; */
}

/* .qwer{
    display: inline-block;
} */

/* друга сторінка */

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    height: 90vh;
    margin: 13vh 0 0 0;
}

.two-1,.two-2,.two-3,.two-4 {
    position: relative;
    width: 35%;
    text-align: center;
}

.second img {
    width: 100%;
}

.second p {
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    margin: .2rem 0;
}

.second>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4vh 0;
}

.second>div:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.second>div:nth-child(2) {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     background-image: url(../img/two-5.png);
    background-repeat: no-repeat; */
}

.third {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 14vh;
}

.cards div{
    position: relative;
    width: 20%;
}

.third p {
    font-size: 3vw;
    color: #000000;
    text-align: center;
    margin: 0vh 0 6vh 0;
}

.third p+div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.third img {
    width: 100%;
    /* padding: 0 0.5%; */
}

.fourth {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.about-us {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.forms {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60rem;
}

.form-header {
    font-style: italic;
    font-weight: 700;
    /* font-size: 6rem; */
    color: #000000;
    text-align: center;
    font-size: 3vw;
    padding-top: 3rem;
    box-sizing: border-box;
}

form {
    background-color: #E5E5E5;
    /* height: 40rem; */
    text-align: center;
    box-sizing: border-box;
}

form>input {
    width: 40%;
    height: 8rem;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 2rem;
    margin: 5% 2%;
    border: none;
}

textarea {
    width: 87%;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 2rem;
    border: none;
    margin-bottom: 5%;
}

.map {
    width: 35%;
    height: 60rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 19rem;
    margin: -2rem 0 3rem 0;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
}

.footer a {
    color: #000000;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hours > div {
    margin-bottom: 4rem;
}


.footer span {
    font-weight: 700;
    font-style: normal;
    /* font-size: 3.6rem; */
}

.social ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.social li:nth-child(1) {
    background-image: url(../img/social/pngwing\ 1.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 20%;
}

.social li:nth-child(2) {
    background-image: url(../img/social/pngwing\ 2.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 19%;
}

.social li:nth-child(3) {
    background-image: url(../img/social/pngwing\ 3.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 24%;
}


/* анімації */


.one-1, .one-2, .one-3 {
    animation: slide-right 2s linear 1;
}

.one-4, .one-5, .one-6 {
    animation: slide-left 2s linear 1;
}

.one-1, .one-6 {
    animation-duration: 3s;
}

@keyframes slide-right {
    from {
      
      transform: translate(-50vw, 0px);

    }  

    to {
    transform: translate(0vw, 0px);
    }
}

@keyframes slide-left {
    from {
      transform: translate(50vw, 0px);  
    }  
    
    to {
    transform: translate(0vw, 0px);
    }
}



/* 
АЕІМАЦІЯ ЧЕРЕЗ ХОВЕР(не дуже правильно)
.one-1, .one-2, .one-3 {
    transform: translate(-50vw, 0px);
}

.one-4, .one-5, .one-6 {
    transform: translate(50vw, 0px); 
}

:hover .first div {
    transform: translate(0vh, 0px);
    transition: all 1.5s linear; 
}

:hover div.one-1, :hover div.one-6 {
    transition-delay: 0.6s;
}
 */

.two-1 {
    /* position: relative; */
    animation: circle-1 7s  linear infinite;
}

@keyframes circle-1 {
    from,
    to {
        top: 0;
        left: 45%;
    }

    25% {
        top: 42vh;
        left: 45%;
    }

    50% {
        top: 42vh;
        left: 0;
    }

    75% {
        top: 0;
        left: 0;
    }
}

.two-2 {
    /* position: relative; */
    animation: circle-2 7s linear infinite;
}

@keyframes circle-2 {
    from,
    to {
        top: 42vh;
        right: 0%;
    }

    25% {
        top: 42vh;
        right: 45%;
    }

    50% {
        top: 0;
        right: 45%;
    }

    75% {
        top: 0;
        right: 0;
    }
}

.two-4 {
    /* position: relative; */
    animation: circle-4 7s linear infinite;
}

@keyframes circle-4 {
    from,
    to {
        top: 0;
        right: 45%;
    }

    25% {
        top: -42vh;
        right: 45%;
    }

    50% {
        top: -42vh;
        right: 0%;
    }

    75% {
        top: 0;
        right: 0;
    }
} 

.two-3 {
    /* position: relative; */
    animation: circle-3 7s linear infinite;
}

@keyframes circle-3 {
    from,
    to {
        top: -42vh;
        left: 0%;
    }

    25% {
        top: -42vh;
        left: 45%;
    }

    50% {
        top: 0;
        left: 45%;
    }

    75% {
        top: 0;
        left: 0;
    }
}

/* .two-1, .two-4  {
    animation-timing-function: ease-in-out;
}

.two-2, .two-3  {
    animation-timing-function: ease-in-out;
} */

.second div {
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* .third div{
    position: relative;
} */

.third img {
    z-index: 2;
   /*  width: 100%; */
    padding: 0 0.5vw;
}

.M:hover::after {
    content: 'Meredith';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.Jas:hover::after {
    content: 'Jason';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.R:hover::after {
    content: 'Ryan';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.Ya:hover::after {
    content: 'James';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.cards:hover  div {
    filter: brightness(0.5);
}

.cards div:hover {
    filter: none;
}


/* МЕДІА ЗАПИТИ --------------------------------*/

@media screen and (max-width: 762px) {


    /* header----------------------------- */

    header, .logo>img {
        height: 6vh;
        align-items: inherit;
    }
    
    .nav a {
        font-size: 2.2rem;
    }

    /* Gallery---------------------------------- */

    .first  {
        flex-direction: column;
        height: 275vh;
    }
    
    .first div {
        margin: 1% 0;
    }

    .one-1, .one-3, .one-5 {
        animation: slide-right 2s linear 1;
    }
    
    .one-2, .one-4, .one-6 {
        animation: slide-left 2s linear 1;
    }
      
    @keyframes slide-right {
        from {
          
          transform: translate(-50vw, 0px);
    
        }  
    
        to {
        transform: translate(0vw, 0px);
        }
    }
    
    @keyframes slide-left {
        from {
          transform: translate(50vw, 0px);  
        }  
        
        to {
        transform: translate(0vw, 0px);
        }
    }
  
    /* Services------------------------------------------- */

    /* Team ------------------------------------------------*/
    
    /* Contact Us ---------------------------------------------*/
}