div, form {
    margin: 20px;
}

.task-3{
    height: 400px;
    background-color: aqua;
}

label {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.task-5{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 64, 0);
    left: 900px;
    top: 0px;
    transition: 0.5s;
}

#color{
    width: 100px;
    height: 30px;
}

#input7, password{
    width: 200px;
    height: 30px;
}