html {
    font-size: 10px;
    background-color: rgb(203, 195, 195);
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Rosario';
    font-weight: 700;
    color: #000000;
    max-width: 1650px;
    /* min-width: 600px; */
    box-sizing: border-box;
    background-color: white;
}

a {
    text-decoration: none;
    color: #FFFF;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 0rem 3rem;
    box-sizing: border-box;
}
/* BOOTSTRAP --------------------------------------------*/

a.nav-link {
    font-size: 2.5rem;
    font-style: italic;
}

nav.navbar {
padding: 0 2rem 0 0;
}

a.navbar-brand {
    padding: 0;
}

.navbar-toggler-icon {
    width: 50px !important;
    height: 50px !important;
  }


/* 
header {
    background-color: #000000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    background-color: #FFFF;
    cursor: pointer;
    width: 13%;
}

.logo img {
    width: 100%;
}

.nav {
    flex-basis: 60%;
}

.nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav li {
    font-size: 3.6rem;
    font-style: italic;
    padding-right: 1rem;
}
 */


.first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.first>div:nth-child(2), .first>div:nth-child(3) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100%; */
}

.first div {
    margin: 4% 1%;
}

.first img {
    width: 100%;
    /* margin: 1vw auto; */
}

/* .qwer{
    display: inline-block;
} */

/* друга сторінка */

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    height: 90vh;
    margin: 14vh 0 0 0;
}

.two-1,.two-2,.two-3,.two-4 {
    position: relative;
    width: 35%;
    text-align: center;
}

.second img {
    width: 100%;
}

.second p {
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    margin: .2rem 0;
}

.second>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 0;
}

.second>div:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.second>div:nth-child(2) {
    width: 51%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     background-image: url(../img/two-5.png);
    background-repeat: no-repeat; */
}

.third {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 14vh;
}

.cards div{
    position: relative;
    width: 20%;
}

.third p {
    font-size: 3vw;
    color: #000000;
    text-align: center;
    margin: 0vh 0 6vh 0;
}

.third p+div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.third img {
    width: 100%;
    /* padding: 0 0.5%; */
}

.fourth {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.about-us {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.forms {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 53vh;
}

.form-header {
    font-style: italic;
    font-weight: 700;
    /* font-size: 6rem; */
    color: #000000;
    text-align: center;
    font-size: 2.8vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    box-sizing: border-box;
}

form {
    background-color: #E5E5E5;
    /* height: 40rem; */
    text-align: center;
    box-sizing: border-box;
}

form>input {
    width: 40%;
    height: 8rem;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 2rem;
    margin: 4% 2%;
    border: none;
}

textarea {
    width: 87%;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 2rem;
    border: none;
    margin-bottom: 4%;
}

.map {
    width: 37%;
    height: 53vh;
    margin-top: 2%;
}

iframe {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 19rem;
    margin: -2rem 0 3rem 0;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    color: #000000;
    text-align: center;
}

.footer a {
    color: #000000;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hours > div {
    margin-bottom: 4rem;
}


.footer span {
    font-weight: 700;
    font-style: normal;
    /* font-size: 3.6rem; */
}

.social ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.social li:nth-child(1) {
    background-image: url(../img/social/pngwing\ 1.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 20%;
    background-size: 17%;
}

.social li:nth-child(2) {
    background-image: url(../img/social/pngwing\ 2.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 19%;
    background-size: 25%;
}

.social li:nth-child(3) {
    background-image: url(../img/social/pngwing\ 3.png);
    background-repeat: no-repeat;
    padding-left: 30%;
    background-position: 24%;
    background-size: 25%;
}


/* анімації ------------------------------------------------*/


.one-1, .one-2, .one-3 {
    animation: slide-right 2s linear 1;
}

.one-4, .one-5, .one-6 {
    animation: slide-left 2s linear 1;
}

.one-1, .one-6 {
    animation-duration: 3s;
}

@keyframes slide-right {
    from {
      
      transform: translate(-50vw, 0px);

    }  

    to {
    transform: translate(0vw, 0px);
    }
}

@keyframes slide-left {
    from {
      transform: translate(50vw, 0px);  
    }  
    
    to {
    transform: translate(0vw, 0px);
    }
}



/* 
АЕІМАЦІЯ ЧЕРЕЗ ХОВЕР(не дуже правильно)
.one-1, .one-2, .one-3 {
    transform: translate(-50vw, 0px);
}

.one-4, .one-5, .one-6 {
    transform: translate(50vw, 0px); 
}

:hover .first div {
    transform: translate(0vh, 0px);
    transition: all 1.5s linear; 
}

:hover div.one-1, :hover div.one-6 {
    transition-delay: 0.6s;
}
 */

.two-1 {
    /* position: relative; */
    animation: circle-1 7s  linear infinite;
}

@keyframes circle-1 {
    from,
    to {
        top: 0;
        left: 45%;
    }

    25% {
        top: 42vh;
        left: 45%;
    }

    50% {
        top: 42vh;
        left: 0;
    }

    75% {
        top: 0;
        left: 0;
    }
}

.two-2 {
    /* position: relative; */
    animation: circle-2 7s linear infinite;
}

@keyframes circle-2 {
    from,
    to {
        top: 42vh;
        right: 0%;
    }

    25% {
        top: 42vh;
        right: 45%;
    }

    50% {
        top: 0;
        right: 45%;
    }

    75% {
        top: 0;
        right: 0;
    }
}

.two-4 {
    /* position: relative; */
    animation: circle-4 7s linear infinite;
}

@keyframes circle-4 {
    from,
    to {
        top: 0;
        right: 45%;
    }

    25% {
        top: -42vh;
        right: 45%;
    }

    50% {
        top: -42vh;
        right: 0%;
    }

    75% {
        top: 0;
        right: 0;
    }
} 

.two-3 {
    /* position: relative; */
    animation: circle-3 7s linear infinite;
}

@keyframes circle-3 {
    from,
    to {
        top: -42vh;
        left: 0%;
    }

    25% {
        top: -42vh;
        left: 45%;
    }

    50% {
        top: 0;
        left: 45%;
    }

    75% {
        top: 0;
        left: 0;
    }
}

/* .two-1, .two-4  {
    animation-timing-function: ease-in-out;
}

.two-2, .two-3  {
    animation-timing-function: ease-in-out;
} */

.second div {
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

/* .third div{
    position: relative;
} */

.third img {
    z-index: 2;
   /*  width: 100%; */
    padding: 0 0.5vw;
}


.M:hover::after {
    content: 'Meredith';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.Jas:hover::after {
    content: 'Jason';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.R:hover::after {
    content: 'Ryan';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.Ya:hover::after {
    content: 'James';
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    color: #FFFF;
    text-align: center;
    padding-top: 15%;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(163, 84, 10, 0.7);
    bottom: 0;
    left: 2.7%;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.cards:hover  div {
    filter: brightness(0.5);
}

.cards div:hover {
    filter: none;
}


/* МЕДІА ЗАПИТИ <762px --------------------------------*/

@media screen and (max-width: 762px) {


    /* header----------------------------- */

    header, .logo>img {
        /* height: 6vh; */
        align-items: flex-start;
    }
    
    .logo {
        /* width: 19%; */
        min-width: 10rem;
    }

    .nav a {
        font-size: 3vw;
    }

    .nav {
        flex-basis: 80%;
    }

    .nav > ul {
        align-items: center;
        height: 100%;
    }


    /* Gallery---------------------------------- */

    .media {
        flex-direction: column;
    }

    .first  {
        flex-direction: column;
        height: auto;
        margin-top: 5%;
    }
    
    /* div.one-2, div.one-4 {
        margin-bottom: 1%;
    } */

    .first div {
        margin: 0;
    }

    .first img {
        margin: 1.5vh 0;
    }

   

    .one-1, .one-3, .one-5 {
        animation: slide-right 2s linear 1;
    }
    
    .one-2, .one-4, .one-6 {
        animation: slide-left 2s linear 1;
        
    }

      
    @keyframes slide-right {
        from {
          
          transform: translate(-50vw, 0px);
    
        }  
    
        to {
        transform: translate(0vw, 0px);
        }
    }
    
    @keyframes slide-left {
        from {
          transform: translate(50vw, 0px);  
        }  
        
        to {
        transform: translate(0vw, 0px);
        }
    }
  
    /* Services------------------------------------------- */

        div.two-5 {
            visibility: hidden;
            display: none;
        }

        .second>div:nth-child(1) {
            width: 100%;
        }

        .second {
            width: 138%;
            margin: 10vh 0;
            height: 100vh;
        }

        .second p {
            font-size: 2.3rem;
        }

        .second>div>div {
            margin: 0 0;
        }
/* Team ------------------------------------------------*/
        .third {
            height: auto;
            margin-top: 0;
        }

        .third>p {
            font-size: 3rem;
        }

        .cards {
            flex-direction: column;

        }

        .cards div {
            width: 95%;
            margin-bottom: 5vh;
        }

        .cards div:hover {
            filter: none;
            transition: 1.5s;
        }

        .cards>.M:hover:after {
            left: 0.7%;
            border-bottom-left-radius: 14%;
            border-bottom-right-radius: 15%;
            transition: all 5s;
            font-size: 9vw;
        }

        .cards>.Jas:hover::after {
            left: 0.7%;
            border-bottom-left-radius: 14%;
            border-bottom-right-radius: 15%;
            transition: all 5s;
            font-size: 9vw;
        }

        .cards>.R:hover::after {
            left: 0.7%;
            border-bottom-left-radius: 14%;
            border-bottom-right-radius: 15%;
            transition: all 5s;
            font-size: 9vw;
        }

        .cards>.Ya:hover::after {
            left: 0.7%;
            border-bottom-left-radius: 14%;
            border-bottom-right-radius: 15%;
            transition: all 5s;
            font-size: 9vw;
        }

/* Contact Us ---------------------------------------------*/

        .about-us {
            flex-direction: column;
            height: auto;
        }

        .fourth {
            height: auto;
            margin-top: 18%;
        }

        .forms {
            width: 100%;
            margin-bottom: 5%;
            height: auto;
            order: 2;
        }

        .form-header {
            font-size: 5vw;
            padding: 0vh 0 3vh;
        }
        
        form>input {
            width: 87%;
            height: 5rem;
            font-size: 3vw;
            margin: 0;
            margin-top: 4%;
         }        

         textarea {
            font-size: 3.1vw;
            margin-bottom: 4%;
            margin-top: 4%;
        }   
        
        .map {
            width: 100%;
            margin-bottom: 5%;
            height: 47vh;
            order: 1;
        }       

        .footer {
            width: 100%;
            height: auto;
            font-size: 3vw;
            flex-direction: column;
            margin-top: 4%;
        }
        
        .footer>div {
            margin-bottom: 2.5vh;
        }

        .hours>div, .social>div {
            margin-bottom: 0.5vh;
        }

        .social li:nth-child(1) {
            background-size: 17%;
        }

        .social li:nth-child(2),.social li:nth-child(3) {
            background-size: 25%;
        }
}

/* МЕДІА ЗАПИТИ <820px --------------------------------*/
/* @media screen and (max-width: 820px) {
    div.one-1 img {
        min-width: 98%;
    }
} */

/* МЕДІА ЗАПИТИ <992px --------------------------------*/

@media screen and (min-width: 763px) and (max-width: 992px) {

    /* header----------------------------- */

    header, .logo>img {
        /* height: 7vh; */
        align-items: initial;
    }
    
    .logo {
        width: 19%;
    }

    .nav a {
        font-size: 3vw;
    }

    .nav {
        flex-basis: 80%;
    }

    .nav > ul {
        align-items: center;
        height: 100%;
    }

    /* Gallery---------------------------------- */

        .first, .first div {
            /* display: inline-block; */
            height: auto;
        }

        .media {
            flex-direction: column;
            width: 50%;
            /* height: 96%; */
        }

        .right {
            order: 2;
        }

        div.left, div.right {
            margin-top: -3%;
        }

        .first img {
            width: 95%;
        }

        .one-1, .one-6 {
            animation-duration: 2s;
        }

/* Services------------------------------------------- */

        .second {
            flex-direction: column;
            height: auto;
            padding: 0;
            margin-top: 7vh;
        }

        .second>div:nth-child(1), .second>div:nth-child(2) {
            width: 100%;
        }     

        .second>div:nth-child(1) {
            order: 2;
            margin-top: 13vh;
        }

        .second>div>div {
            margin: 8% 0;
        }

/* Team ----------------------------------------------------*/

        .third {
            height: auto;
            margin-top: 8vh;
            margin-bottom: 10vh;
        }

        .third p {
            font-size: 5vw;
        }

        .third p+div {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: 50% 50%;
            grid-template-rows: 53% 53%;
            width: 100%;
            align-items: center;
            justify-items: center;
            grid-row-gap: 1vh;
        }

        .cards div {
            width: 90%;
        }

        .Jas>img {
            width: 97%;
        }
        .cards div:hover {
            filter: none;
            transition: 1.5s;
        }

        .cards>.M:hover:after {
            left: 1.2%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 15%;
            font-size: 5vw;
        }

        .cards>.Jas:hover::after {
            left: 1.2%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 15%;
            font-size: 5vw;
            width: 97%;
        }

        .cards>.R:hover::after {
            left: 1.2%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 15%;
            font-size: 5vw;
        }

        .cards>.Ya:hover::after {
            left: 1.2%;
            border-bottom-left-radius: 15%;
            border-bottom-right-radius: 15%;
            font-size: 5vw;
        }

        /* Contact Us ---------------------------------------------*/

        .about-us {
            flex-direction: column;
            height: auto;
        }

        .fourth {
            height: auto;
            margin-bottom: 10vh;
            margin-top: 24%;
        }

        .forms {
            width: 100%;
            margin-bottom: 5%;
            height: auto;
        }

        .form-header {
            font-size: 5vw;
            padding: 0vh 0 3vh;
        }
        
        form>input {
            width: 41%;
            font-size: 2.5vw;
            margin: 0 1% 0 1%;
            margin-top: 3%;
         }        

         textarea {
            font-size: 2.5vw;
            margin-bottom: 3%;
            margin-top: 3%;
        }   
        
        .map {
            width: 100%;
            margin-bottom: 5%;
            height: 43vh;
        }       

        .footer {
            width: 100%;
            height: auto;
            font-size: 2.1vw;
            flex-direction: row;
            margin-top: 4%;
        }
        
        .footer>div {
            margin-bottom: 2.5vh;
        }

        .hours>div, .social>div {
            margin-bottom: 0.5vh;
        }

        .hours ul {
            margin-bottom: 3vh;
        }

        .social li:nth-child(1) {
            background-size: 17%;
        }

        .social li:nth-child(2),.social li:nth-child(3) {
            background-size: 25%;
        }
}





