.layout_page{
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
    background: #050E12;
}
.btn_top{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2.5rem 1rem auto;
    display: none;
}
.btn_top > span{
    font-size: 2.5rem;
    font-weight: 500;
}
@media (max-width: 860px) {
    .btn_top{
        display: flex;
    }
}


@media (max-width: 760px) {
    .layout_page{
        padding-top: 5rem;
    }
}

@media (max-width: 520px) {
    .layout_page{
        padding-top: 5rem;
    }
}