  #holder{
      width: 250px;
      position: relative;
      top: 14%;
      transform: translateY(-65%);
      /* box-shadow: 0px 3px 8px rgb(0 0 0 / 25%); */
      border-radius: 2px;
    }
    
  #holder2{
  width: 250px;
  top: 14%;
  border-radius: 2px;
  }


  .button {
    background: white;
    margin : 20px auto;
    width : 200px;
    height : 53px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }

  #exit{
    margin : 20px auto;
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .3s;
  }

  .btnText {
    color : #3D4C53;
    transition : .3s;
    margin-top: 18px
  }
  .btnText2 {
    margin-top : 60px;
    margin-right : -130px;
    color : #FFF;
  }
  .btnText2-exit {
    margin-top : 55px;
    margin-right : -130px;
    color : #FFF;
  }
  .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -130px;
  }
  
  .button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }

  #start {
    margin: 0;
  }