html {
    font-size: 20px;
}


body {
    margin: 0;
    background-color: black;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: visible; */
    z-index: 2;
}

.menu-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 36%;
    width: 35%;
    background-color: #3D4C53;
    box-shadow: inset 0px 0px 1px 1px #26A69A;
    border-radius: 1rem;
    font-weight: 600;
    min-width: 500px;
    min-height: 300px;
    color: white;
}


.menu-content>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    height: 4rem;
}

.menu-content>div>label {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;

}

input[type=text] {
    width: 12rem;
    height: 2rem;
    border-radius: 8px;
    margin-left: 0.8rem;
}

input[type=button] {
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: snow;
    border-radius: 10px;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.table {
    position: relative;
    top: auto;
    left: auto;
    width: 95%;
    height: 90%;
    background-color: rgb(8 100 75);
    border-radius: 1rem;
    box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 86%);
    overflow: hidden;
}

.line-center {
    width: 10px;
    height: 99%;
    background-color: #dedede94;
    margin: 3px auto;
}

.ball {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.player1-racket {
    position: absolute;
    width: 20px;
    height: 15vh;
    background-color:yellow;
    border-radius: 5px;
    top: 0px; left: 0px;
}

.player2-racket {
    position: absolute;
    width: 20px;
    height: 15vh;
    background-color:rgb(0, 166, 255);
    border-radius: 5px;
    top: 0px; left: 0px;
}

.player1-count{
    position: absolute;
    font-size: 4rem;
    font-weight: 500;
    color: black;
    top: 2vh;
    left: 24vw;
}

.player2-count{
    position: absolute;
    font-size: 4rem;
    font-weight: 500;
    color: black;
    top: 2vh;
    left: 69vw;
}

.player1-name{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    color: yellow;
    top: 91vh;
    left: 4vw;
}

.player2-name{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 166, 255);
    top: 91vh;
    right: 4vw;
}

.results{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    /* visibility: hidden; */
}

table, td, th {
    border: 1px solid white;
    background-color: #3D4C53;
    /* min-height: 110px; */
    text-align: center;
}

table>tbody tr td:nth-child(2) {
    width: 75%;
}

table{
    border-collapse: collapse;
    width: 40%;
    margin-bottom: 3vh;
}

.wrapper {
    display: flex;
}
