body{
    background-color: black;
    margin: 0;
    padding: 2rem 2rem;
    font-size: 20px;
}


.container {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* width: 100vw; */
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 25px;
}

.card {
    background-color: white;
    width: 18%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid black 1px;
    /* margin: 5px; */
    flex-grow: 1;

}

.card:hover{
    scale: 1.05;
    transition: 0.5s;
}

.card div{
    padding-bottom: 10px;
    text-align: center;
}

.card div:nth-child(2){
    font-weight: 700;
    font-size: 25px;
}

.photo{
    width: 100%;
}

.photo>img{
    width: 100%;
}

.btn{
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: orange;
    border-radius: 15px;
    width: 130px;
    height: 25px;
    margin-bottom: 12px;
}

.btn:hover{
    border: 1px solid black;
    transition: 0.8s;
}

/* Loader --------------------------------*/

.loader {
    width: 100px;
    height: 100px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.loader-box{
    display: none;
    position: absolute;
    top: 0; right: 0; bottom: 0;left: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.438);
    overflow: hidden;
}

.show{
    display: flex;
}
/* //---------------------------------------------- */ 

/* .button-save {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */

/* .btn {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

.btn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
} */