
.movies_section{
    padding: 2rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.75)), url('../../image/background/phonoteka.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
.movies_section__title{
    width: 95%;
    margin: 0 auto 2rem auto;
    font-family: 'Inter',sans-serif;
    font-size: 3rem;
    line-height: 1;
}

.movies_section__list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movies_section__error_text{
    text-align: center;
    margin: .5rem;
    font-size: 2.3rem;
    line-height: 1.2;
}


.movies_section__error{
    width: 50%;
    margin: 0 auto;
    background: rgb(117, 115, 115);
    border-radius: 5rem;
    padding: .5rem;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.12), 0px 1px 1px rgba(255, 255, 255, 0.14), 0px 2px 1px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all .3s;
}

.movies_section__error:hover {
    box-shadow: 3px 4px 7px rgba(255, 255, 255, 0.24), 0px 1px 1px rgba(255, 255, 255, 0.30), 0px 2px 1px rgba(255, 255, 255, 0.4);
    transform: translateY(-.2rem)translateX(-.2rem);
}


.movies_section__error > img{
    display: block;
    width: 100%;
}

@media (max-width: 760px) {

    .movies_section__error{
        width: 90%;
        border-radius: 3rem;
    }
}