.card-container{
    width: 150px;
    background-color: white;
    padding: 5px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-container:hover{
    scale: 1.02;
}

.card-title{
    font-weight: bold;
    overflow: hidden;
    height: 39px;
    text-align: center;
    font-size: 16px;
}

.card-img{
    text-align: center;
    height: 150px;
}

.card-img>img{
    width: 100%;
    height: 75%;
    text-align: center;
}

.card-properties{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.description{
    height: 55px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    transition: 0.5s;
    width: 100%;
}

.card-container:hover .description{
    overflow: auto;
    z-index: 10;
    position: relative;
    bottom: 10px;
    height: 65px;
    transition: 0.5s;
}

.price{
    font-weight: 700;
}


button {
    padding: 0.8em 1.8em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #673AB7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  .rating{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid #c9c2c2;
    padding-top: 5px;
  }
