html {
    font-size:  10px;
    font-family: 'Open Sans';
    --header-color: #155767;
    --border-color: #707070;
    --button-color: #00BFFF;
    --label-color: #969697;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1000px;
    background-color: #e0dede;
}

.page-container {
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
    background-color: white;
    /* height: 56vw; */
    height: 107rem;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* img {
    width: 100%;
} */

.main-logo {
    width: 50%;
    text-align: center;
    padding-top: 18%;
    padding-bottom: 35%;
}

.sign-in {
    width: 50%;
    border-left: 1rem solid #FFA500;
    padding-left: 14.5rem;
    padding-top: 50rem;
    box-sizing: border-box;
    /* height: 82rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

}

.login {
    width: 80%;
    margin: 0 auto 2rem 0;
}

.login > label {
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--label-color);
    display: flex;
}

.login > input {
    display: flex;
    width: 100%;
    height: 7rem;
    font-weight: 400;
    font-size: 2rem;
    box-sizing: border-box;
    padding-left: 2rem;
    border: 1px solid #707070 ;
}

form.submit {
    width: 80%;
    text-align: right;
    margin-top: 5rem;
}

.sign-in input[type="submit"] {
    background-color: var(--button-color);
    font-weight: 700;
    font-size: 2.4rem;
    width: 20rem;
    height: 5.5rem;
    border-radius: 10px;
    /* display: flex; */
    text-align: center;
    cursor: pointer;
}

.about-password {
    /* width: 80%; */
    text-align: right;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--label-color);
    position: absolute;
    left: 1;
    right: -3%;
    bottom: -5%;
    cursor: pointer;
}


header {
    height: 11rem;
    background-color: var(--header-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px;
}

.header-logo {
    background-color: white;
    width: 32rem;
    height: 100%;
    border-radius: 0px 5rem 5rem 0;
}

.header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

/* 
.header-content>div:nth-child(2) {
    width: 28em;
    white-space: nowrap;
} */

a[ href*="page"] {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

a[ href*="page"]>div:first-child {
    /* width: 5rem; */
    height: 6rem;
    /* border-radius: 100%;
    margin-right: 1rem; */
}

a[ href*="page"]>div>img {
    padding: 0;  
    width: 85%;
}

.subtitle {
    height: 9.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input[type="reset"] {
    background-color: var(--button-color);
    width: 30rem;
    height: 6rem;
    background-image: url(../img/refresh.svg);
    background-repeat: no-repeat;
    background-position: 24rem;
    background-size: 20%;
    padding-right: 5.5rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
}


main {
    height: 79%;
}

.navigation {
    width: 25%;
    border: solid 1px var(--border-color);
    height: 100%;
}

.data {
    width: 75%;
    border: solid 1px var(--border-color);
    height: 100%;
    border-left: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mark {
    position: absolute;
    top: 100%;
}


.navigation>ul>li {
    list-style: none;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 26px;
}

.navigation a { 
    text-decoration: none;
    color: #000000;
}

.navigation>ul>li:nth-child(1) {
    background-image: url(../img/li/Icon\ material-dashboard.png);
    background-position: 2px;
    padding-left: 45px;
}

.navigation>ul>li:nth-child(2) {
    background-image: url(../img/li/Icon\ 2.png);
    background-position: 0px;
    padding-left: 45px;
}

.navigation>ul>li:nth-child(3) {
    background-image: url(../img/li/Icon\ 3.png);
    background-position: -1px;
    padding-left: 45px;
}

.navigation>ul>li:nth-child(4) {
    background-image: url(../img/li/Icon\ 4.png);
    background-position: 0px;
    padding-left: 43px;
}

.navigation>ul>li:nth-child(5) {
    background-image: url(../img/li/Icon\ 5.png);
    background-position: 5px;
    padding-left: 43px;
}


.navigation>ul>li:nth-child(6) {
    background-image: url(../img/li/Icon\ 6.png);
    background-position: 3px;
    padding-left: 41px;
}

.data>div {
    height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.data>div>img {
    margin-left: 4rem;
}


button[type="submit"] {
    background-color: #A2A3A4;
    width: 14rem;
    height: 5rem;
    color: #ffff;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 2rem 2rem auto auto;
}

button[type="submit"]:hover {
    background-color: var(--button-color);
}

.data>form {
    margin-left: 10rem;
}

label {
    font-weight: 300;
    font-size: 2rem;
    color: var(--label-color);
}

.data form input {
    height: 6rem;
    border: solid 0.5px var(--border-color);
    font-weight: 400;
    font-size: 2rem;
    padding-left: 4rem;
}

input::-webkit-input-placeholder {
    color: var(--label-color);
}

form>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.CPO input {
    width: 80%;
}

.CPO>div:nth-child(4), .CPO>div:nth-child(5) {
    width: 40%;
    display: inline-block;
    margin-right: 7.5%;
}

.CPO>div:nth-child(6) {
    width: 55%;
    display: inline-block;
}

.CPO>div:nth-child(6) input {
    width: 92%;
}


.CPO>div:nth-child(7) {
    width: 32%;
    display: inline-block;
}

.CPO>div:nth-child(7) input {
    width: 92%;
    height: 6.5rem;
    padding-left: 4.5rem;
    background-color: var(--button-color);
    font-weight: 700;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
    background-image: url(../img/vpn_key.png);
    background-repeat: no-repeat;
    background-position: 0.5rem 0.9rem;
}

.form-header-USERS input {
    background-color: var(--button-color);
    width: 60%;
    height: 6rem;
    background-image: url(../img/invite.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 6rem;
    padding-right: 5.5rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
    margin-top: 2rem;
    margin-right: 2%;
}

input[ value="Invite New Operator"] {
    width: 38%;
}

form.Users {
    width: 80%;
}

.Users > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Users>div>input[type="text"] {
    width: 30%;
    text-align: center;
    padding: 0;
}

.Users>div>input[type="search"] {
    width: 60%; 
    background-image: url(../img/Icon\ awesome-search.png);
    background-repeat: no-repeat;
    background-position: 12px 12px;
    padding-left: 7rem;
}

.data  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    width: 92%;
    font-weight: 400;
    font-size: 2rem;
    color: var(--label-color);
}

.form-header-CHARGING>input {
    background-color: var(--button-color);
    width: 32rem;
    height: 6rem;
    background-image: url(../img/add-plus.svg);
    background-repeat: no-repeat;
    background-position: 26rem 0rem;
    background-size: 20%;
    padding-right: 5.5rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
    margin-top: 2rem;
}

.form-header-CHARGING > div {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 2rem auto auto 10rem;
}

.form-header-CHARGING > div > div:first-child {
    color: var(--label-color);
    margin-bottom: 2rem;
}

/* .first-half {
    border-bottom: 0.5px solid var(--border-color);
} */

.first-half > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-half>div>input[type="text"] {
    width: 30%;
    padding-left: 1.5rem;
}

.first-half>div>input::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.first-half>div>input[type="search"] {
    width: 60%; 
    background-image: url(../img/Icon\ awesome-search.png);
    background-repeat: no-repeat;
    background-position: 12px 12px;
    padding-left: 7rem;
    margin-right: 2rem;
}

.first-half ul {
    width: 97%;
    padding: 0;
}

.first-half ul li {
    text-align: center;
    width: 30%;
}

.first-half ul:nth-of-type(2) {
    background-color: #D6D6D629;
    margin-top: 0;
}

.first-half ul + div {
    margin: 8rem 0 2rem;
    justify-content: center;
    padding-right: 10%;
}

hr {
    width: 111%;
    position: relative;
    right: 11%;
}

.second-half>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.second-half>div:first-child>div {
    display: flex;
    flex-direction: column;
}

.second-half>div label {
    font-weight: 700;
    font-size: 2.4rem;
    color: #000000;
}

.second-half>div input {
    width: 81%;
    /* height: 6rem; */
    padding: 0;
    border-radius: 1.2rem;
    margin-top: 1rem;
}

#Rating {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: 48% 45%;
}

.second-half>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.URL {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 86%;
}

#Image-URL {
    width: 50%;
    margin-left: 3%;
    border: none;
    border-bottom: solid 1px var(--border-color);
    border-radius: 0;
    height: 4rem;
}

.URL + div {
    display: flex;
    width: 127%;
    justify-content: space-evenly;
}

.URL + div > img {
    width: 20%;
}

.active {
    font-weight: bolder;
}

.INVITE > div {
    width: 51%;
}

.INVITE button {
    margin: 0;
    width: 35%;
    height: 6rem;
    border-radius: 0;
    cursor: pointer;
}

.acounter {
    cursor: pointer;
}

.USERS-INVITE>div:nth-child(1) {
    width: 41%;
    display: inline-block;
    margin-right: 11%;
}

.USERS-INVITE>div:nth-child(2) {
    width: 41%;
    display: inline-block;
}

#usr-name, #usr-Email {
    width: 90%;
}


.USERS-INVITE input {
    width: 37%;
}

.radio-container {
    display: flex;
    flex-direction: column;
    /* width: 68%; */
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}


.radio-container p {
    /* display: inline-block; */
    text-align: center;
    margin: 0;
    width: 40%;
    display: flex;
    align-items: center;
}

.radio-container p > label {
    font-weight: 400;
    font-size: 2rem;
}

#All-Permissions, #Basic-Permissions {
    width: 3rem;
    margin-right: 2rem;
}

.radio-container input:checked ~ label {
    color: #000000;
}



