
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 0;
    padding: 0;
}

.form-add{
    background-color: #27d348;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.openFormButton, .addTask{
    background-color: #25db25;
    height: 25px;
    cursor: pointer;
    border: 1px solid black;
}

.taskInput {
    text-align: center;
    height: 25px;
    box-sizing: border-box;
}

.taskInput::placeholder{
    font-size: 12px;
}

.taskInput:focus {
    border: 1.5px solid #23a926;
    outline: none;
}

.task-to-do{
    margin-top: 10px;
    background-color: rgb(229 229 229);
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 3px 0px rgb(38 106 70 / 75%);;
    width: 285px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
}

.task-to-do:hover{
    scale: 1.02;
}

.taskText{
    position: relative;
    font-family: cursive;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 100%;
    width: 72%;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgb(229 229 229);
    font-weight: bold;
}

.taskText:read-only{
    font-family: cursive;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: rgb(229 229 229);
    font-weight: 400;
}

.changeTask span{
    border: 1px solid black;
    border-radius: 7px;
    padding: 1px;
    margin: 0.5px;
    background-color: white;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: inline-block;
}

.done{
    text-decoration: line-through;
    color: #7075b3;
}