body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    margin: 0;
}

header {
    background-color: #202846;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 0px 10px 138px;
    /* display: inline-block; */
}


.navigation .navigation-button {
    list-style: none;
    display: inline-block;
    padding: 2px 3% 0 3%;
    margin: 0;
    vertical-align: middle;
    text-align: right;

}

.navigation {
    width: 70%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-button a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: inline-block; 
}

p {
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    background-color: #C6C6DC;
    font-style: italic;
    font-weight: 400px;
    font-size: 48px;
    margin: 0;
    padding: 35px 0px 35px 230px;

}

section {
 width: 100%;
 background-color: #DCDCDC;
 /* height: 800px; */
}

.arrow {
    width: 65%;
    height: 73px;
    box-sizing: border-box;
    background-color: #E8E8E8;
    margin: 0px auto 100px;
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    position: relative;
    top: 56px;
}

.triangle {
    position: absolute;
    /* left: 30rem; */
    /* vertical-align: middle; */
    right: 1%;
    top: 35%;
}

.location-card {
    width: 65%;
    /* height: 300px; */
    box-sizing: border-box;
    background-color: #BDBDC6;
    margin: 35px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 1.5% 2%;
}

.location-card:hover{
    background-color: #AEAEE2;
    transition:  0.5s;
    box-shadow: 0px 6px 14px -5px;
}

.location-card:hover #star-color2{
    fill: yellow;
    transition:  0.5s;
}

.location-card:hover .card-button{
    background-image: url(../img/button_red.png);
    transition:  0.5s;
}

.location-card .image{
    /* background-image: url(../img/bokota.png);
    background-repeat: no-repeat; */
    height: 244px;
    margin-left: 3%;

}

.description{
    width: 50%;
    /* height: 244px; */
    margin-left: 100px;
}

.name {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    border-bottom: 4px solid white;
    margin-bottom: 10px;
}

.content {
    height: 75%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    background-color: #D7D7DD;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    letter-spacing: 0.5px;
    word-break: break-word;
    padding: 5%;
}

.star{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2%;
    right: 1%;
}

/* #star-color2:hover {
    fill: yellow;
    transition: 0.5s;
}  */

.card-button {
    width: 200px;
    height: 60px;
    background-image: url(../img/button_norm.png);
    position: absolute;
    left: 91%;
    top: 76%;
}

/* .card-button:hover {
    background-image: url(../img/button_red.png);
    transition:  0.5s;
} */

.cabinet{
    margin-top: 270px;

}

.card-person {
    width: 55%;
    height: 500px;
    background-color: #BDBDC6;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ava-logo,.button-ava1,.button-ava2 {
    padding-bottom: 20px;
}

.data {
    width: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: italic;
    font-weight: 400px;
    font-size: 36px;
}

.stroke {
    width: 100%;
    border-bottom: 4px solid white;
    padding: 6px;
}

.s5 {
    border-bottom:none;
}

.stroke span { 
    font-weight: 700;
}

.exit-button {
    width: 210px;
    background-color: #202846;
    border-radius: 40px;
    margin: 40px auto;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    padding: 15px 0px;
}

.exit-button a {
    text-decoration: none;
    color: white;
}

footer{
    background-color: #202846;
    height: 65px;
    width: 100%;
    
}

.end{
    color: #EEECF1;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    margin-left: 5%;
    padding-top: 1rem;
}