body {
    background-color: #212529;
    margin: 0%;
    width: 100%;
}

header {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
    margin: 30px 0px 125px;
    position: sticky;
    top: -3px;
    z-index: 1;
    background-color: #212529;
}

a {
    text-decoration: none;
    color: #FFFFFF;

}

.navigation {
    /* width: 40%; через width налазить сусудній флекс-блок  */
    flex-basis: 40%;
    flex-shrink: 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-shrink: 0; /* тут не працює */
}

.nav-item {
    /* display: inline-block; */
    list-style-type: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    padding: 0px 5px;
}

.nav-item a:hover {
    color: #FFB742;
    transition:  0.5s;
}


.hire-button {
    border-radius: 25px;
    min-width: 121px;
    min-height: 54px;
    background-color: #FFB742;
    border: solid 0.5px;
}


.hire-button  a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
    flex-shrink: 1;
}



.intodusing {
    height: 460px;
    margin: 0px auto 135px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.intodusing p {
    font-family: 'Inter';
    font-style: normal;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}

.intro-content1{
    font-size: 2rem;
    font-weight: 700;
}

.intro-content1 span {
    color: #FFB742;
    text-decoration: underline;
}

.intro-content2{
    font-size: 3rem;
    font-weight: 700;
}

.intro-content3{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 5%;
}

.skill-cards {
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 140px;
    
}

.card {
    width: 30%;
    background-color: #292B2E;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 1%;
}

.card-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.card-content span {
    color: #FFB742;
    font-size: 2rem;
}

.card:hover {
    background-color: #FFB742;
    box-shadow: 0px 6px 14px -5px;
    transition:  0.4s
}

.card:hover  .card-content, .card:hover  span,.card:hover .arrow {
    color: #000000;
    fill: #000000;
    transition:  0.4s;
}

.about-me {
    display: flex;
    flex-basis: 90%;
    height: 600px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;    
}

.about-me-content {
    display: flex;
    flex-basis: 45%;
    height: 80%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.me-button {
    border-radius: 20px;
    min-width: 150px;
    min-height: 45px;
    background-color: #292B2E;
    border: none;
}

.me-button  a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFB742;
    text-transform: uppercase;
}

.me-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

.me-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
}

.about-works {
    width: 90%;
    margin: 0 auto 120px;
}

.work-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.work-tittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

/* .work-navigation {
    width: 80%;
} */

.work-navigation ul {
    display: flex;
    flex-basis: 60%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto 50px;
    padding: 0;
}

.work-navigation-items {
    list-style-type: none;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.work-navigation>ul>li:hover a {
    color: #000000;
    transition:  0.2s;
}

.work-navigation-items:hover {
    background-color: #FFB742;
    border-radius: 10px;
    transition:  0.2s;
}

.works {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* height: 889px; */
    
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.work {
    padding: 1.2%;
    /* width: 100%;
    height: 100%; */
}

.work img {
    width: 100%;
    /* height: 100%; */
}

footer {
    width: 100%;
    background-color: #1C1C1C;
    height: 470px;
    font-family: 'Work Sans';
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 150px;
    box-sizing: border-box
}

.contacts {
    flex-basis: 20%;
}

.contact-name-two, .contact-name-three, .contact-name-four  {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    color: #F5FBF2;
    /* text-align: center; */
}

.contact-name-one  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFB742;
    padding-bottom: 30px;
}

.contact-text-one {
    color: #D4D4D4;
    font-weight: 600;
    font-size: 1rem;
}

.contact-text-two, .contact-text-three, .contact-text-four {
    list-style-type: none;
    margin: 0; 
    font-size: 1.1rem;
    padding: 15px 0 0;
    /* height: 180px; */
}

.contact-text-item {
    padding-bottom: 7%;

}

.contact-text-item  a, .contact-text-four a{
    color: #7B7B7B;
    font-weight: 600;
    padding-bottom: 10px;
}

.contact-text-item:hover a,.contact-text-four:hover a {
    color: #FFB742;
    transition: 0.2s;
}



