body {
    margin: 0;
    font-family: 'Space Grotesk';
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

main {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
}

.about-form {
    width: 55%;
    height: 100%;
    background-color: #FFFFFF;
}

.aboute-quote {
    width: 45%;
    height: 100%;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    box-shadow: 0px 0px 4px 2px #909ca5;
    /* filter: blur(0.5px); */
    box-sizing: border-box;
}

.quote-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
    padding-top: 5%;
}

.quote-contact a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
}

.quote-contact {
    padding-left: 5%;     
}

.quote {
    font-weight: 700;
    font-size: 5.2vh;
    color: #FFFFFF;
    margin-left: 3vw;
    position: relative;
    top: 28%;
    width: 30vw;
    text-shadow: 3px 3px 0px #f2f2f22e;
}

.quote-author {
    font-weight: 700;
    font-size: 2vh;
    color: #FFFFFF;
    margin-left: 9%;
    position: relative;
    top: 32%;
    text-shadow: 3px 3px 0px #f2f2f22e;
}

.about-form {
    box-sizing: border-box;
}

form {
    width: 54%;
    height: 84%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin: 7% auto 0;
}

.form-header {
    font-weight: 700;
    font-size: 2vh;
    padding: 4% 0 0 10%;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #08344d 84.29%);
    -webkit-background-clip: text; /* залишає фон тільки під текстом */
    -webkit-text-fill-color: transparent; /* робить текст прозорим */
    
}

.form-tittle {
    text-align: left;
    font-weight: 700;
    font-size: 2.5vh;
    padding-bottom: 10%;

}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 2vh;
    margin: 0;
    width: 100%;
}


label {
    padding-bottom: 2%;
    text-align: left;
    width: 100%;
}

input {
    width: 100%;
    height: 4vh;
    border: solid 1px #CCCCCC;
    border-radius: 0.5vh;
    box-shadow: 0px 0px 0.2vh 0px #7f868b;
    box-sizing: border-box;
    padding-left: 5%;
}
::placeholder {
    color: #CCCCCC;
    font-weight: 400;
    font-size: 1.3vh;
}

.passw-descr {
    font-weight: 400;
    font-size: 1.3vh;
    color: #CCCCCC;
    margin: -5px 0;
    /* width: 100%; */
}
.optional {
    color: #CCCCCC;
    font-size: 1.3vh;
}

input::-webkit-calendar-picker-indicator {
    opacity: 1;
    color: #CCCCCC;
}

.button {
    background-color: #284A5E;
    font-weight: 700;
    font-size: 1.8vh;
    color: #FFFFFF;
    border: solid 1px #284A5E;
    padding: 2%;
    margin-top: 5%;
}

.sign {
    font-weight: 700;
    font-size: 1.8vh;
    color: #C4C4C4;
    display: inline;
    margin: 1vh auto;
}

.login {
    color: #476D73;
    text-decoration: underline;
    cursor: pointer;
}