* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.comments {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.comment-card {
    padding: 8px;
    margin: 10px 0;
    background-color: rgb(201, 196, 196);
    border: 1px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.comment-card>div{
    margin: 10px 0;
}

.comment-card>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    flex-basis: 80%;
}

.pagination__item {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    width: 20px;
    /* flex-grow: 1; */
}

.pagination__item--active/* , .pagination__list li:first-child */ {
    font-weight: 800;
    color: black
}

form {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 20px;
}

label {
    font-size: 20px;
}

input {
    width: 100px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}
