html {
    font-size: 14px;
    font-family: 'Work Sans';
}

body {
    margin: 0 auto;
}

ul {
    margin: 0;
}

.section {
    box-sizing: border-box;
    margin: 3.5rem auto;
    padding: 3%;
    border-radius: 2%;
    width: 90%;
    height: 90vh;
    background-color: #FFB084;
/*     max-width: 770px;
    max-height: 460px; */
}


.card-1,.card-2,.card-3,.card-4,.card-5,.card-6,.card-7 {
    background-color: white;
    /* border-radius: 3%; */
    box-sizing: border-box;
    font-size: 1.5vw;
    border-radius: 3rem;
    box-shadow: 0.65vw 0.65vw 2px 1px #1a1a1a;
}

.card-1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4%;
}

.card-2,.card-3,.card-4,.card-5,.card-6,.card-7 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 14%;
}

span {
    font-weight: 700;
}

.card1-header {
    font-size: 1.7vw;
}

img {
    width: 100%;
}

.avatar {
    width: 57%;
}

.card3-header {
    margin-bottom: 1rem;
}

.card4-header {
    color: green;
    margin-bottom: 1rem;
}

.card5-header {
    color: red;
    margin-bottom: 1rem;
}

.card6-header {
    color: blue;
    margin-bottom: 1rem;
}

.card7-header {
    margin-bottom: 1rem;
}

.avatar+div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.avatar+div>div {
    padding: 1rem 0;
}


.male  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ABOUT GRID -----------------------------------*/

.cards {
    width: 100%;
    height: 100%;
    /* border: solid 1px red; */
    display: grid;
    grid-template-columns: /* minmax(220px,1fr) */ 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 3.5%;
}

.card-1 {
    grid-column: 1;
    grid-row: 1/7;
}

.card-2 {
    text-align: center;
    grid-column: 1;
    grid-row: 7;
}

.card-3 {
    grid-column: 2/4;
    grid-row: 1/3;
    padding: 0 6%;
}

.card-4 {
    grid-column: 2;
    grid-row: 3/5;
    box-shadow: 0.65vw 0.65vw 2px 1px green;
}

.card-5 {
    grid-column: 3;
    grid-row: 3/6;
    box-shadow: 0.65vw 0.65vw 2px 1px red;
}

.card-6 {
    grid-column: 2;
    grid-row: 5/8;
    box-shadow: 0.65vw 0.65vw 2px 1px blue;
}

.card-7 {
    grid-column: 3;
    grid-row: 6/8;
}


