.details_page{
    min-height: 80vh;
    background: #050E12;
    color: #ffffff;
}




.details_btn_back{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 600;
    border: 1px solid white;
    border-radius: .4rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    opacity: .8;
    transition: all .3s;
    z-index: 2;
}
.details_btn_back:focus,
.details_btn_back:hover{
    text-decoration: none;
    color: white;
    transform: translateX(-.5rem);
    opacity: 1;
}

.details{
    padding: 4rem 4%;
}
.details_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.details_img_wrapper{
    width: 20%;
    min-width: 25rem;
}
.details_img_wrapper > img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 30rem;
    object-fit:cover;
    object-position: 70% 0;
    border-radius: .3rem;
    border: 1px solid rgba(179, 178, 178, 0.333);
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.12), 0px 1px 1px rgba(255, 255, 255, 0.14), 0px 2px 1px rgba(255, 255, 255, 0.2);
}
.details_info{
    width: 60%;
    margin: 2%;
}

.info_main_title{
    font-family: 'Kalam';
    font-size: 3.6rem;
    line-height: 1.1;
}
.item_info_title_second{
    color: gold;
    font-size: 2rem;
    font-weight: 500;
}
.info_title{
    font-size: 2.3rem;
    
}
.info_text{
    width: 80%;
    font-size: 2rem;
    line-height: 1.1;
}
.info_rating{
    margin-bottom: 2%;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.info_rating > img {
    display: block;
    width: 3rem;
    margin-right: .5rem;
}

.details_schedule_title{
    font-size: 2rem;
}
.details_schedule_btn_wrapp{
    margin: .5rem;
}

.info_price_btn{
    border: 1px solid white;
    border-radius: .3rem;
    background: none;
    color: white;
    font-size: 1.6rem;
    opacity: .8;
    transition: all .3s;
}


.info_price_btn:focus,
.info_price_btn:hover{
    opacity: 1;
}

.schedule_btn{
    background: rgba(0, 128, 0, 0.342);
    border: 1px solid green;
    border-radius: .3rem;
    color: white;
    font-size: 2rem;
    padding: .5rem .8rem;
    opacity: .7;
    transition: all .3s;
}

.schedule_btn:disabled{
    opacity: .3;
    cursor: default;
    border: 1px solid white;
    background: none;
}
.schedule_btn:not([disabled]):focus,
.schedule_btn:not([disabled]):hover{
    
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 760px) {
    .details_wrapper{
        flex-direction: column;
    }
    .info_main_title {
        font-family: 'Kalam';
        font-size: 3rem;

        line-height: 1.1;

    }

    .details_img_wrapper{
        width: 90%;
        margin-bottom: 2rem;
    }

    .details_info{
        width: 90%;
    }
}


